.ProductDisplay {
    display: flex;
    /* margin: 30px 150px; */
    margin: 30px 90px;
}

.ProductDisplay-left {
    display: flex;
    /* flex-direction: column; */
    gap: 17px;
}

.ProductDisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ProductDisplay-img-list img {
    height: 163px;
    width: 163px;
}

.ProductDisplay-main-img {
    width: 586px;
    height: 700px;
}

.ProductDisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.ProductDisplay-right h1 {
    color: #3d3d3d;
    font-size: 35px;
    font-weight: 700;
}

.ProductDisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.ProductDisplay-right-prices {
    display: flex;
    margin: 25px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.ProductDisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;

}

.ProductDisplay-right-price-new {
    color: #ff4141;
}

.ProductDisplay-right-size h1 {
    margin-top: 30px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.ProductDisplay-right-sizes {

    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.ProductDisplay-right-sizes div {
    padding: 12px 17px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.ProductDisplay-right button {
    padding: 15px 35px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 28px;
    border: none;
    outline: none;
    cursor: pointer;
}


.ProductDisplay-right-category {
    margin-top: 10px;
}

.ProductDisplay-right-category span {
    font-weight: 600;
}


@media(max-width:1280px){
    .ProductDisplay{
        margin: 0px 60px;
    }
    .ProductDisplay-left{
        gap: 10px;
    }
    .ProductDisplay-img-list{
        gap: 10px;

    }
    .ProductDisplay-img-list img {
        height: 120px;
    }
    .ProductDisplay-main-img{
        width: auto;
        height: 510px;
    }
    .ProductDisplay-right{
        margin: 0px 30px;
    }
    .ProductDisplay-right h1{
        font-size: 22px;
    }
    .ProductDisplay-right-stars{
        gap: 3px;
        font-size: 13px;
    }

    .ProductDisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .ProductDisplay-right-description{
        font-size: 13px;

    }
    .ProductDisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }

    .ProductDisplay-right-sizes div{
        padding: 14px 20px;
    }

    .ProductDisplay-right button{
        width: 150px;
        padding: 15px 0px;
        margin-bottom: 20px;
    }
    .ProductDisplay-right-category{
        margin-top: 5px;
        
    }



}

@media(max-width:1064px){
    .ProductDisplay{
        margin: 0px 30px;
    }
    .ProductDisplay-left{
        gap: 5px;
    }
    .ProductDisplay-img-list{
        gap: 5px;

    }
    .ProductDisplay-img-list img {
        height: 84px;
        width: 80px;
    }
    .ProductDisplay-main-img{
        /* width: auto; */
        height: 350px;
    }
   
    .ProductDisplay-right h1{
        font-size: 18px;
    }
    .ProductDisplay-right-stars img{
        /* gap: 3px;
        font-size: 13px; */
        width: 15px;
    }

    .ProductDisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .ProductDisplay-right-description{
        font-size: 12px;

    }
    
          
     .ProductDisplay-right-sizes{
        margin-top: 10px 0px;
     }

    .ProductDisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }

    .ProductDisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .ProductDisplay-right-category{
        /* margin-top: 5px; */
        font-size: 12px;

    }



}

@media(max-width:800px){
    .ProductDisplay{
        margin: 0px 18px;
    }
    .ProductDisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .ProductDisplay-img-list{
        gap: 5px;

    }
    .ProductDisplay-img-list{
        flex-direction: row;
        gap: 6px;
    }
    .ProductDisplay-img-list img {
        height: 70px;
        width: 59px;
        /* width: 163px; */
    }
    .ProductDisplay-main-img{
        /* width: auto; */
        height: 300px;
    }
   
    .ProductDisplay-right h1{
        font-size: 14px;
    }
    .ProductDisplay-right-stars img{
        /* gap: 3px;
        font-size: 13px; */
        width: 13px;
    }

    .ProductDisplay-right-prices{
        margin: 10px 0px;
        font-size: 18px;
    }

    .ProductDisplay-right-description{
        font-size: 10px;

    }

    .ProductDisplay-right-size h1{
        margin-top: 10px;
    }
    
          
     .ProductDisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
     }

    .ProductDisplay-right-sizes div{
        padding: 4px 11px;
        /* font-size: 12px; */
    }

    .ProductDisplay-right button{
        width: 100px;
       
        font-size: 12px;
    }
    .ProductDisplay-right-category{
        /* margin-top: 5px; */
        font-size: 10px;

    }



}

@media(max-width:500px){
    .ProductDisplay{
        flex-direction: column;
    }
    .ProductDisplay-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .ProductDisplay-img-list{
        flex-direction: column;
        gap: 8px;
    }
    .ProductDisplay-img-list img{
        height: 78px;
    }
    .ProductDisplay-main-img{
        height: 330px;
    }
    .ProductDisplay-right{
        margin: 5px;
    }
    .ProductDisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
    }
    .ProductDisplay-right-stars img{
        width: 15px;
    }
    .ProductDisplay-right-sizes{
        gap: 10px;
        margin: 20px 0px;
    }

    .ProductDisplay-right-sizes div{
        padding: 10px 16px;
        font-size: 14px;

    }
    .ProductDisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0;
    }

    .ProductDisplay-right-category{
        font-size: 16px;
    }
}

@media(max-width:374px){
    .ProductDisplay-main-img{
        height: 300px;
        width: 225px;
    }
    .ProductDisplay-img-list img {
        height: 71px;
    }
}